@import "tailwindcss";
@import "tw-animate-css";
@import "@mantine/core/styles.css";

.mantine-Badge-root {
	text-transform: none !important;
	letter-spacing: inherit !important;
	cursor: inherit
}

a {
	cursor: pointer;
}

:root {
	--mantine-color-body: light-dark(white, black) !important;
}

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

@theme inline {
	--text-xs: 0.8125rem;
}
