name: Playwright Tests
on:
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v2
    - name: Install dependencies
      run: bun install
    - name: Install Playwright Browsers
      run: bun run playwright install --with-deps
    - name: Run Playwright tests
      run: bun run playwright test
      env:
        TEST_SLACK_WORKSPACE_NAME: ${{ secrets.TEST_SLACK_WORKSPACE_NAME }}
        TEST_SLACK_EMAIL: ${{ secrets.TEST_SLACK_EMAIL }}
        TEST_SLACK_PASSWORD: ${{ secrets.TEST_SLACK_PASSWORD }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30