name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
    # Runs at 8pm PST every Monday (4am UTC Tuesday)
    # Note: Cron doesn't adjust for DST. During PDT (summer), this runs at 9pm.
    - cron: '0 4 * * 2'
jobs:
  test:
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: bun install
    - name: Install Playwright Browsers
      run: bun run playwright install --with-deps
    - name: Run Playwright tests
      run: bun run playwright test
      env:
        TEST_SLACK_WORKSPACE_NAME: ${{ secrets.TEST_SLACK_WORKSPACE_NAME }}
        TEST_SLACK_EMAIL: ${{ secrets.TEST_SLACK_EMAIL }}
        TEST_SLACK_PASSWORD: ${{ secrets.TEST_SLACK_PASSWORD }}
    - name: Publish Test Report
      uses: ctrf-io/github-test-reporter@v1
      with:
        report-path: './ctrf/*.json'
        github-report: true
        upload-artifact: true
      if: always()
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
